<mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>{{"inscription.onglets.info-legal.title" | translate}}</ng-template>
        <p>
            {{"inscription.onglets.info-legal.desc" | translate}}
        </p>
        <div>
            <button mat-button matStepperNext>{{"menu.direction.next" | translate}}</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="inscripyionForm.inscriptionForm">
        <ng-template matStepLabel>{{"inscription.onglets.form.title" | translate}}</ng-template>
        <app-inscription-form #inscripyionForm></app-inscription-form>
        <div>
            <button mat-button matStepperPrevious>{{"menu.direction.back" | translate}}</button>
            <button mat-button matStepperNext>{{"menu.direction.next" | translate}}</button>            
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{"inscription.onglets.telecharger-doc.title" | translate}}</ng-template>
        <p>
            {{"inscription.onglets.telecharger-doc.desc" | translate}}
        </p>
        <div>
            <button mat-button matStepperPrevious>{{"menu.direction.back" | translate}}</button>
            <button mat-button matStepperNext>{{"menu.direction.next" | translate}}</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{"inscription.onglets.resume.title" | translate}}</ng-template>
        <p>Resumé de l'isncription</p>
        <div *ngIf="isShowProgressBar"><app-progress-bar></app-progress-bar></div>
        <div>
            <button mat-button matStepperPrevious>{{"menu.direction.back" | translate}}</button>
            <button mat-button (click)="stepper.reset()">{{"menu.direction.reset" | translate}}</button>
            <button mat-button (click)="submitRegistration()">{{"menu.direction.submit" | translate}}</button>
        </div>
    </mat-step>
</mat-stepper>