<mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>Information légale</ng-template>
        <p>
            {{"inscription.desc" | translate}}
        </p>
        <div>
            <button mat-button matStepperNext>Suivant</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="inscripyionForm.inscriptionForm">
        <ng-template matStepLabel>Formulaire d'inscription</ng-template>
        <app-inscription-form #inscripyionForm></app-inscription-form>
        <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>            
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Télécharger les documents">
        <form [formGroup]="secondFormGroup">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Précédent</button>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Revoir et soumettre</ng-template>
        <p>Resumé de l'isncription</p>
        <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button (click)="stepper.reset()">Soumettre</button>
        </div>
    </mat-step>
</mat-stepper>