<form [formGroup]="inscriptionForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Identité</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom" formControlName="firstName">
            @if (inscriptionForm.controls['firstName'].hasError('required')) {
              <mat-error>Prénom est <strong>obligatoire</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="lastName">
            @if (inscriptionForm.controls['lastName'].hasError('required')) {
              <mat-error>Nom est <strong>obligatoire</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!--div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDay">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (inscriptionForm.controls['birthDay'].hasError('required')) {
              <mat-error>Date de naissance est <strong>obligatoire</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre">
              @for (genre of genreList; track genre) {
                <mat-option [value]="genre.value">{{genre.viewValue}}</mat-option>
              }
            </mat-select>
            @if(inscriptionForm.controls['genre'].hasError('required')) {
              <mat-error>Genre est <strong>obligatoire</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div-->
    </mat-card-content>
  </mat-card>
  <!--mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Filiation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom père" formControlName="fatherFirstName">
            @if (inscriptionForm.controls['fatherFirstName'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom père" formControlName="fatherLastName">
            @if (inscriptionForm.controls['fatherLastName'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Date de naissance du père</mat-label>
            <input matInput [matDatepicker]="fatherBirthDayPicker" formControlName="fatherBirthDay">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="fatherBirthDayPicker"></mat-datepicker-toggle>
            <mat-datepicker #fatherBirthDayPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numéro de téléphone du père" formControlName="fatherPhoneNumber">
            @if (inscriptionForm.controls['fatherPhoneNumber'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom de la mère" formControlName="motherrFirstName">
            @if (inscriptionForm.controls['motherrFirstName'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom de la mère" formControlName="motherLastName">
            @if (inscriptionForm.controls['motherLastName'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Date de naissance de la mère</mat-label>
            <input matInput [matDatepicker]="motherBirthDayPicker" formControlName="motherBirthDay">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="motherBirthDayPicker"></mat-datepicker-toggle>
            <mat-datepicker #motherBirthDayPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numéro de téléphone de la mère" formControlName="motherPhoneNumber">
            @if (inscriptionForm.controls['motherPhoneNumber'].hasError('required')) {
              <mat-error>Last name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card-->
  <!--mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Adresse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
            @if (inscriptionForm.controls['address'].hasError('required')) {
              <mat-error>Address is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          @if (hasUnitNumber) {
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
            </mat-form-field>
          } @else {
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Add C/O, Apt, Suite, Unit
            </button>
          }
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city">
            @if (inscriptionForm.controls['city'].hasError('required')) {
              <mat-error>City is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state">
              @for (state of states; track state) {
                <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
              }
            </mat-select>
            @if (inscriptionForm.controls['state'].hasError('required')) {
              <mat-error>State is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card-->
</form>
